[submodule "references/nativescript/oss-weather"]
	path = references/nativescript/oss-weather
	url = https://github.com/Akylas/oss-weather.git
[submodule "references/nativescript/ui-material-components"]
	path = references/nativescript/ui-material-components
	url = https://github.com/nativescript-community/ui-material-components.git
[submodule "references/nativescript/conty"]
	path = references/nativescript/conty
	url = https://github.com/Akylas/conty.git
[submodule "references/nativescript/alpimaps"]
	path = references/nativescript/alpimaps
	url = https://github.com/Akylas/alpimaps.git
[submodule "references/nativescript/systemui"]
	path = references/nativescript/systemui
	url = git@github.com:nativescript-community/systemui.git
[submodule "references/nativescript/nativescript-app-utils"]
	path = references/nativescript/nativescript-app-utils
	url = git@github.com:Akylas/nativescript-app-utils.git
[submodule "packages/app-android/references/nativescript/nativescript"]
	path = references/nativescript/nativescript
	url = git@github.com:NativeScript/NativeScript.git
