.rounded-none {
  border-radius: 0;
}

.rounded-t-none {
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
}

.rounded-s-none {
  border-bottom-left-radius: 0px;
  border-top-left-radius: 0px;
}

.rounded-e-none {
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
}

.rounded-b-none {
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
}
