/* Derive a tone from the chosen/system primary color depending on mode */
.themed {
  &:not(.is-dark) {
    --learn-primary-bg-color: color-mix(
      in oklab,
      var(--learn-primary-color, var(--accent-color)) 50%,
      var(--light-1)
    );

    --learn-primary-view-bg-color: color-mix(
      in oklab,
      var(--learn-primary-color, var(--accent-color)) 30%,
      var(--light-1)
    );
  }

  &.is-dark {
    --learn-primary-bg-color: color-mix(
      in oklab,
      var(--learn-primary-color, var(--accent-color)) 50%,
      var(--dark-5)
    );

    --learn-primary-view-bg-color: color-mix(
      in oklab,
      var(--learn-primary-color, var(--accent-color)) 30%,
      var(--dark-5)
    );
  }

  &:not(.primary-none) {
    --window-bg-color: var(--learn-primary-bg-color);
    --view-bg-color: var(--learn-primary-view-bg-color);
  }
}
