/* Derive a tone from the chosen/system accent depending on mode */
.themed {
  &.is-light {
    --learn-accent-tone: color-mix(
      in oklab,
      var(--learn-accent-color, var(--accent-bg-color)) 50%,
      white
    );
  }

  &.is-dark {
    --learn-accent-tone: color-mix(
      in oklab,
      var(--learn-accent-color, var(--accent-bg-color)) 50%,
      black
    );
  }

  &:not(.accent-none) {
    window#application-window,
    window#application-window& {
      background-color: var(--learn-accent-tone);
    }
  }
}
