/* Derive a tone from the chosen/system primary color depending on mode */
.themed {
  &.is-light {
    --learn-primary-tone: color-mix(
      in oklab,
      var(--learn-primary-color, var(--accent-bg-color)) 50%,
      white
    );
  }

  &.is-dark {
    --learn-primary-tone: color-mix(
      in oklab,
      var(--learn-primary-color, var(--accent-bg-color)) 50%,
      black
    );
  }

  &:not(.primary-none) {
    window#application-window,
    window#application-window& {
      background-color: var(--learn-primary-tone);
    }
  }
}
