.appearance-page {
  .primary-group,
  .accent-group {
    /* Fix boxed-list style for custom widget `PrimaryColorSelector` */
    .boxed-list {
      border-bottom-left-radius: 0px;
      border-bottom-right-radius: 0px;
      border-bottom: 1px solid transparent;
    }
  }
}
